@model IEnumerable<PreProc.Models.PreProcGeneralInfo2>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<div class="container">
    @* <div class="card">
    <div class="card-body"> *@
    <asp:Panel ID="inputPanel" runat="server">
        <fieldset>
            <div class="row mt-lg-3">
                <div class="col-5">
                    <button class="btn btn-outline-secondary" disabled>@ViewBag.totaldata</button><button class="btn bg-secondary" disabled style="color:white">PreProc</button>
                </div>
                <div class="col-7 text-end">
                    <a class="btn btn-outline-secondary" asp-area="" asp-controller="PreProcs" asp-action="Index"
                       data-toggle="tooltip" data-placement="bottom" title="Refresh">
                        <b><i class="bi bi-arrow-clockwise"></i></b>
                    </a>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="PreProcs" asp-action="NewItem">
                        <i class="bi bi-plus-circle"></i> New Item
                    </a>
                </div>

            </div>

        </fieldset>
    </asp:Panel>
    <form asp-action="Index" asp-controller="PreProcs">
        <div class="row mt-lg-5">
            <div class="col-3">
                    @* <div class="form-floating mb-3">
                    <input type="search" name="search" class="form-control" id="floatingInput">
                    <label for="floatingInput">No. Dokumen, Nama</label>
                    </div>
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div> *@
                    <div class="input-group" style="width:300px">
                        <input type="search" name="pid" class="form-control" value="@ViewBag.pid" placeholder="PID / Presales ID">
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" >Search</button>
                    </div>
            </div>
            <div class="col-8">
            </div>
            <div class="col-1 text-end">
                @* <select class="form-select form-control" aria-label="Default select example" style="width:80px" id="pagesize" onchange="changePageSize()">
                    <option selected value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select> *@
            </div>
        </div>
    </form>
    <div class="table-wrapper table-responsive-lg mt-lg-4">
        <table class="table" style="font-size:small">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Account Manager</th>
                    <th scope="col">PID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Project Support</th>
                    <th scope="col">Project Manager</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Proposal Manager</th>
                    <th scope="col">Tender Admin</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Project Coordinator</th>
                    <th scope="col">PIC Procurement</th>
                    <th scope="col">Commitee</th>
                    <th scope="col">Presales</th>
                    <th scope="col">BOD</th>
                    <th scope="col">Created By</th>
                    @* <th scope="col">Action</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">@item.ListItemId</td>
                        <td scope="col">
                            <div class="btn-group">

                                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                    <span>@item.PresalesId</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" data-toggle="tooltip" data-placement="bottom" title="View Details"
                                           asp-controller="PreProcs" asp-action="ViewDetail" asp-route-id="@item.Id" class="dropdown-item">
                                            View Item
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" data-toggle="tooltip" data-placement="bottom" title="View Details"
                                           asp-controller="PreProcs" asp-action="EditDetail" asp-route-id="@item.Id" class="dropdown-item">
                                            Edit Item
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item modalDelete" data-bs-toggle="modal" data-bs-target="#deleteModal_@item.Id"
                                           data-item="@item.Id">
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td scope="col">@item.Am</td>
                        <td scope="col">@item.Pid</td>
                        <td scope="col">@item.Description</td>
                        <td scope="col">@item.Customer</td>
                        <td scope="col">@item.ProjectSupport</td>
                        <td scope="col">@item.Pm</td>
                        <td scope="col">@item.Stage</td>
                        <td scope="col">@item.PropMgr</td>
                        <td scope="col">@item.TenderAdm</td>
                        <td scope="col">
                            @if  (@item.CreationDate.Value.ToString("dd/MM/yyyy") == "01/01/1001")
                            {
                                
                            }
                            else if (@item.CreationDate != null)
                            {
                                @item.CreationDate.Value.ToString("dd/MM/yyyy")
                            }    
                        </td>
                        <td scope="col">@item.Pc</td>
                        <td scope="col">@item.PicProc</td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col">@item.EmailCommitteeDefault</td>
                        <td scope="col">@item.CreatedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mt-lg-3 row" style="justify-content:right">
        <div class="col-1" style="text-align:center">
            <!-- Previous Page Link -->
            @if (ViewBag.pagenumber > 1)
            {
                <a asp-action="Index" asp-route-pageNumber="@(ViewBag.pagenumber-1)" asp-route-pageSize="@ViewBag.pagesize" asp-route-pid="@ViewBag.pid" asp-controller="PreProcs" class="text-secondary col-1"><i class="bi bi-arrow-left-square-fill" style="font-size:x-large"></i></a>
            }
        </div>
        <div class="col-1" style="text-align:center;align-self: center;">
            <!-- Page numbers -->
            @for (int i = Math.Max(1, ViewBag.pagenumber - 0); i <= Math.Min(ViewBag.totalcount, ViewBag.pagenumber + 2); i++)
            {
                @if (i == ViewBag.pagenumber)
                {
                    <a asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.pagesize" asp-route-pid="@ViewBag.pid" asp-controller="PreProcs" class="text-danger col-1">@i</a>
                }
                else
                {
                    <a asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@ViewBag.pagesize" asp-route-pid="@ViewBag.pid" asp-controller="PreProcs" class="text-secondary col-1">@i</a>
                }
            }
        </div>
        <div class="col-1" style="text-align:center">
            <!-- Next Page Link -->
            @if (ViewBag.pagenumber < ViewBag.totalcount)
            {
                <a asp-action="Index" asp-route-pageNumber="@(ViewBag.pagenumber+1)" asp-route-pageSize="@ViewBag.pagesize" asp-route-pid="@ViewBag.pid" asp-controller="PreProcs" class="text-secondary col-1"><i class="bi bi-arrow-right-square-fill" style="font-size:x-large"></i></a>
            }
        </div>
    </div>
    @*  </div>
    </div> *@
</div>
<script>
    $('#searchcs').keypress(function (e) {
        var value = $(this).val();
        var key = e.which;
        if(key == 13)  // the enter key code
        {
            var pid = new FormData();
            pid.append("pid", value);

            $.ajax({
                url: "/PreProcs/Index/",
                type: "POST",
                dataType: "json",
                data: pid,
                contentType: false,
                processData: false,
                success: function (datas) {
                    window.location.reload();
                },
                error: function (data) {
                    console.log("error" + data[0]);
                }
            })
        }
    });

    function changePageSize(){
        var value = $("#searchcs").val();
        var pid = new FormData();
        pid.append("pid", value);
        pid.append("pagesize", $("#pagesize").val());

        $.ajax({
            url: "/PreProcs/Index/",
            type: "POST",
            dataType: "json",
            data: pid,
            contentType: false,
            processData: false,
            success: function (datas) {
                window.location.reload();
            },
            error: function (data) {
                console.log("error" + data[0]);
            }
        })
    }

</script>
